.Make {
    text-align: center;
  }
  body {
    padding: 5px
  }

.panel-heading{
  margin-top: 20px;
  align-items: center;
  display:flex;
  justify-content: space-between;
}

.panel-body{
  margin: 20px;
}

dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  size: medium;
  margin: 10px
}
dt {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0
}
dd {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0
}
